
:root {
	--turkey: #FFF0EB;
	--white: white;
	--blue: blue;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	background-color: var(--white);
}

.navbar-logo {
	width: 23px;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--blue);
	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.site {
	display: flex;
	min-height: calc(100vh - 3.5rem);
	flex-direction: column;
  }
  
  .site-content {
	flex: 1;
  }
  input:not(:checked) ~ .checkbox-hidable {
	display: none;
  }
  .checkboxhack {
	display: none;
	}
	@media only screen and (max-width: 768px) {
    .navbar-narrow {
			padding: .3rem .3rem;
		}
	}
