<footer class="section">
  <small>
    Want to help us improve the site or add songs? Make the site better <a href="https://github.com/singaround/songbook">by joining us on GitHub</a>
  </small>
</footer>
