---
layout: layouts/base.njk
title: Index by Chorus
tags:
  - navIndex
navtitle: Index by Chorus
date: 2019-03-03
permalink: /index-chorus/index.html
---
<small>You can search the songs with google on the <a href="/songs">songs page</a></small>

<h1>Songs by Chorus</h1>

{% set indexlist = collections.songsByChorus %}
{% set indexItem = "chorusLine" %}
{% include "components/indexlist.njk" %}