---
layout: layouts/base.njk
title: Index
tags:
  - nav
navtitle: Index
date: 2019-03-03
permalink: /song-index/index.html
---
<h1>Songs by First Line</h1>

{% set indexlist = collections.songsByFirstline %}
{% set indexItem = "songLine" %}
{% include "components/indexlist.njk" %}

<h1>Songs by Chorus</h1>

{% set indexlist = collections.songsByChorus %}
{% set indexItem = "chorusLine" %}
{% include "components/indexlist.njk" %}