---
layout: layouts/base.njk
title: Index by Firstline
tags:
  - navIndex
navtitle: Index by First Line
date: 2019-03-03
permalink: /index-firstline/index.html
---
<small>You can search the songs with google on the <a href="/songs">songs page</a></small>

<h1>Songs by First Line</h1>

{% set indexlist = collections.songsByFirstline %}
{% set indexItem = "songLine" %}
{% include "components/indexlist.njk" %}
