---
layout: layouts/base.njk
title: Index by Firstline
tags:
  - navIndex
navtitle: Index by First Line
date: 2019-03-03
permalink: /index-firstline/index.html
---
<small>We haven't quite got as far as a search feature yet, but you
can use your phone's 
<a href="https://www.groovypost.com/tips/find-words-web-page-safari-ios-chrome-android/">Find in Page</a> feature to search this page.

<h1>Songs by First Line</h1>

{% set indexlist = collections.songsByFirstline %}
{% set indexItem = "songLine" %}
{% include "components/indexlist.njk" %}
