<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en" class="has-navbar-fixed-top">

	{% include "components/head.njk" %}

	<body class="site">
		<header>
			{% include "components/nav.njk" %}
		</header>

		<main class="site-content">
		<section class="section">
   		<div class="container">
		<div class="content">
			{{ layoutContent | safe }}
		</div>
		</div>
		</section>
		</main>
		{% include "components/footer.njk" %}
	</body>

</html>
