---
layout: layouts/base.njk
section: song
templateEngineOverride: njk,md
---

<article>
  <h1>{{ songNumber}} - {{ title }}</h1>
  <p>
    <small>
     words by {{ wordsBy }}, music by {{ musicby }}
    </small>
  </p>
  <p>
  {{ description }}
  </p>
  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "song" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/blog/' | url }}">← Blog index</a>
</nav>
