---
layout: layouts/base.njk
section: song
templateEngineOverride: njk,md
---

<article>
  <h1>{{ songNumber}} - {{ title }}</h1>
  <p>
    <small>
{% if wordsBy %}
words by {{ wordsBy }}<br />
{% endif %}
{% if musicby %}
music by {{ musicby }}
{% endif %}
  </small>
  </p>
  <p>
{% if description %}
<div class="message is-info">
<label for="show-hide">
  <div class="message-header">
  Background
  <div class="checkbox-hidable" aria-label="show/hide">tap to show/hide</div>
  </div>
  </label>
  <input class="checkboxhack" type="checkbox" id="show-hide" checked>
  <div class="message-body checkbox-hidable">

{{ description  }}

  </div>
</div>
  </p>
{% endif %}

  {{ layoutContent | safe }}

  {% if tags %}
  <p>
  {% for tag in tags %}
  {%- if tag != "song" -%}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
  {%- endif -%}
  {% endfor %}
  </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/songs/' | url }}">← Song index</a>
</nav>
